body {
	/*background: url("background.jpg");*/ /* Links to your background image, which you can also replace with a URL. */
	background-color: white;
	background-size: cover; /* Image covers page. */
	background-repeat: no-repeat; /* Image does not repeat. */
	background-attachment: fixed; /* Image doesn't move when you scroll up or down. */
	background-position: center;
	text-align: center;
	color: black; /* Text color. */
	
	font-family: 'Lato', sans-serif;
}

img {
	border-radius: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	position: fixed, centred;
	border: 3px solid #e8b47b;
	
}

.responsive {
	width: 20%;
	height: auto;
}

h1 {
	font-size: 40px;
	color: #2c3e50;
}

span.title {
	font-size: 20px;
	color: #2c3e50;
	font: bold;
}

p {
	font-size: 20px;
	font-family: Lato,Avenir,Helvetica,Arial,sans-serif;
	color: #2c3e50;
}

span.name {
	color: #e8b47b;
	font-weight: blod;
	font-family: 'Gloria Hallelujah';
	font-size: 20;
}

span.special {
	color: rgb(60, 124, 241);
	font-size: 20px;
	font-family: Lato,'Gloria Hallelujah',Helvetica,Arial,sans-serif, cursive;
}

span.contact {
	color: #2c3e50;
	font-size: 15px;
}

/* This just centers the header container vertically on the page. */
.container-fluid {
	height: 300px;
	width: 100%;
	position: absolute;
	display: block;
	margin-top: 10%; /* Pour définir la zone avec le top */
}

.container-image {
	position: static;
	height: auto;
	width: 10%;
	margin-top: 15%;

}
/* Styling for icons. */
.fa {
	color: #2c3e50;
	margin: auto 0.8%;
	position: center;
	display: relative;
	font-size: 3em !important;
	width: 5%;
	
	
}

.header {
	position: fixed;
	background-color: rgb(255, 255, 255);
	width: 5%;
	text-align: left;
	margin-left: 10px;
	
}

.footer {
	position: fixed;
	background-color: rgb(236, 236, 236);
	bottom: 0;
	width: 100%;
	margin-top: 40px;
	text-align: center;
}


.topnav {
	background-color: #333;
	overflow: hidden;
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: left;
	padding: 10px 16px;
	text-decoration: none;
	font-size: 15px;
  }
  

  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  

  .topnav a.active {
	background-color: cornflowerblue;
	;
	color: white;
  }


  .page-contact {
	height: 300px;
	width: 100%;
	position: absolute;
	display: block;
	margin-top: 20%;
  }

  span.contact-text {
	  font-size: 30px;
  }